{% extends 'base.html.twig' %}
{% block back %}<li><a href="{{url('selectMode')}}">Cambia Modalita'</a></li>{% endblock %}
{% block body%}
<div class="row">
  <h2>SELEZIONA IL SET DI BANDIERE</h2>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6" class="buttonContainer">
    <a href="play/{{mode}}/mondo">
      <div class="buttons" onmouseover="info('mondo');" onmouseout="info('')">Mondo</div>
    </a>
  </div>
  <div class="col-md-3 col-sm-6" class="buttonContainer">
    <a href="play/{{mode}}/africa">
      <div class="buttons"  onmouseover="info('africa');" onmouseout="info('')">Africa</div>
    </a>
  </div>
  <div class="col-md-3 col-sm-6" class="buttonContainer">
    <a href="play/{{mode}}/asia">
      <div class="buttons"  onmouseover="info('asia');" onmouseout="info('')">Asia</div>
    </a>
  </div>
  <div class="col-md-3 col-sm-6" class="buttonContainer">
    <a href="play/{{mode}}/europa">
      <div class="buttons"  onmouseover="info('europa');" onmouseout="info('')">Europa</div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6" class="buttonContainer">
    <a href="play/{{mode}}/nordamerica">
      <div class="buttons"  onmouseover="info('nordamerica');" onmouseout="info('')">NordAmerica</div>
    </a>
  </div>
  <div class="col-md-3 col-sm-6" class="buttonContainer">
    <a href="play/{{mode}}/sudamerica">
      <div class="buttons"  onmouseover="info('sudamerica');" onmouseout="info('')">SudAmerica</div>
    </a>
  </div>
  <div class="col-md-3 col-sm-6" class="buttonContainer">
    <a href="play/{{mode}}/oceania">
      <div class="buttons" onmouseover="info('oceania');" onmouseout="info('')">Oceania</div>
    </a>
  </div>
  <div class="col-md-3 col-sm-6" class="buttonContainer">
    <a href="play/{{mode}}/supersfida">
      <div class="buttons" onmouseover="info('supersfida');" onmouseout="info('')">SuperSfida</div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="info" id="info">Scegli un set di bandiere con cui giocare!</p>
  </div>
</div>

{% endblock %}
