{% extends 'base.html.twig' %}
{% block back %}
<li id="help"><a href="">How to Play</a></li>
<li class="endGame"><a href="" id="endGame"">Fine Partita</a></li>
{% endblock %}
{% block body %}

<div class="row">
  <h4>A quale stato appartiene questa bandiera?</h4>
</div>
<div class="row">
  <div class="col-xs-12 buttonContainer">
    <img src="http://www.marcolanci.it/flagProChallange/flags/{{flag.flagsrc}}.png" alt="???" title="???" class="mainFlag" />
      <br /><span style="color:
              {% if points>0 %}  lightgreen;"
              {% elseif points<0 %} #f00;"
              {% else %} #fff;"
              {% endif %}>Punteggio: {{points}}
            </span>
  </div>
  <div class="col-sm-6 buttonContainer">
    <form name="game" method="post" action=""/>
      <input type="hidden" name="points" value="{{points}}" />
      <input type="hidden" name="answer" value="{{flag.name}}" />
      <input type="hidden" name="guess" value="{{countries[0].name}}" />
      <input type="submit" class="choices" value="{{countries[0].name}}" />
    </form>
    <form name="game" method="post" action=""/>
      <input type="hidden" name="points" value="{{points}}" />
      <input type="hidden" name="answer" value="{{flag.name}}" />
      <input type="hidden" name="guess" value="{{countries[1].name}}" />
      <input type="submit" class="choices" value="{{countries[1].name}}" />
    </form>
    </div>
    <div class="col-sm-6 buttonContainer">
    <form name="game" method="post" action=""/>
      <input type="hidden" name="points" value="{{points}}" />
      <input type="hidden" name="answer" value="{{flag.name}}" />
      <input type="hidden" name="guess" value="{{countries[2].name}}" />
      <input type="submit" class="choices" value="{{countries[2].name}}" />
    </form>
    <form name="game" method="post" action=""/>
      <input type="hidden" name="points" value="{{points}}" />
      <input type="hidden" name="answer" value="{{flag.name}}" />
      <input type="hidden" name="guess" value="{{countries[3].name}}" />
      <input type="submit" class="choices" value="{{countries[3].name}}" />
    </form>
  </div>
</div>
{% endblock %}
{% block modal %}
  <div id="helpModal" class="modal">
    <p>In questa modalita' ti verra' mostrata una bandiera e dovrai indovinare a quale stato appartiene tra i 4 proposti.
      <br /><br />Non preoccuparti: non ci sono limiti di tempo!
      <br /><br />Per ogni risposta corretta ti verra' assegnato un punto, mentre per ogni risposta sbagliata un punto verra sottratto al totale.
      Riuscirai ad entrare nella TOP 10?  Raccogli la sfida!</p>
    <h6 class="modalClose">OK!</h6>
  </div>
  <div id="endGameModal" class="modal">
        <h4>Vuoi terminare la partita con {{points}} punti?</h4>
        <form action="/records/set/{{setScelto}}" method="post" >
        <input type="text" name="playerName" placeholder="Inserisci nome" class="player" required />
        <input type="hidden" name="mode" value="ftn" />
        <input type="hidden" name="points" value="{{points}}" />
        <input type="submit" class="choices" value="SI" />
        </form>
        <input type="submit" class="choices modalClose" value="NO" />
  </div>
{% endblock %}
