{% extends 'base.html.twig' %}
{% block back %}
<li id="help"><a href="">How to Play</a></li>
<li class="endGame"><a href="{{url('flag_homepage')}}">Fine Partita</a></li>
{% endblock %}
{% block body %}

<div class="row">
  <h4>Qual &egrave; la bandiera corretta?</h4>
</div>
<div class="row">
  <div class="col-xs-12 buttonContainer">
    <h3>{{country.name}}</h3>
    <span style="color:
            {% if points>0 %}  lightgreen;"
            {% elseif points<0 %} #f00;"
            {% else %} #fff;"
            {% endif %}>Punteggio: {{points}}
    </span>
  </div>
  <div class="col-xs-6 buttonContainer">
    <form name="game" method="post" action=""/>
      <input type="hidden" name="answer" value="{{country.name}}" />
      <input type="hidden" name="guess" value="{{flags[0].name}}" />
      <input type="hidden" name="points" value="{{points}}" />
      <input type="image" class="smallFlags" src="http://www.marcolanci.it/flagProChallange/flags/{{flags[0].name}}.png" alt="{{flags[0].name}}" title="???" />
    </form>
    <form name="game" method="post" action=""/>
      <input type="hidden" name="answer" value="{{country.name}}" />
      <input type="hidden" name="guess" value="{{flags[1].name}}" />
      <input type="hidden" name="points" value="{{points}}" />
      <input type="image" class="smallFlags" src="http://www.marcolanci.it/flagProChallange/flags/{{flags[1].name}}.png" alt="{{flags[1].name}}" title="???" />
    </form>
    </div>
    <div class="col-xs-6 buttonContainer">
    <form name="game" method="post" action=""/>
      <input type="hidden" name="answer" value="{{country.name}}" />
      <input type="hidden" name="guess" value="{{flags[2].name}}" />
      <input type="hidden" name="points" value="{{points}}" />
      <input type="image" class="smallFlags" src="http://www.marcolanci.it/flagProChallange/flags/{{flags[2].name}}.png" alt="{{flags[2].name}}" title="???" />
    </form>
    <form name="game" method="post" action=""/>
      <input type="hidden" name="answer" value="{{country.name}}" />
      <input type="hidden" name="guess" value="{{flags[3].name}}" />
      <input type="hidden" name="points" value="{{points}}" />
      <input type="image" class="smallFlags" src="http://www.marcolanci.it/flagProChallange/flags/{{flags[3].name}}.png" alt="{{flags[3].name}}" title="???" />
    </form>
  </div>
</div>
{% endblock %}
{% block modal %}
  <div id="helpModal" class="modal">
    <p class="valign">In questa modalita' ti verra' fornito il nome di uno stato e dovrai indovinare qual e' la bandiera corretta tra le 4 proposte.
      <br /><br />Non preoccuparti: non ci sono limiti di tempo!
      <br /><br />Per ogni risposta corretta ti verra' assegnato un punto, mentre per ogni risposta sbagliata un punto verra sottratto al totale.
      Riuscirai ad entrare nella TOP 10?  Raccogli la sfida!</p>
    <h6 class="modalClose">OK!</h6>
  </div>
{% endblock %}
